@use "../../assets/styles/variables.scss" as *;

.input {
  width: 100%;
  max-width: 1023px;

  &__input {
    box-sizing: border-box;
    width: 100%;
    border-radius: 8px;
    padding: 12px 20px;
    line-height: 24px;
    background-color: $bg-primary;
    outline: 1px solid $bg-primary;
    color: $text-secondary;

    &.leftIcon {
      padding-left: 52px;
    }

    &.rightIcon {
      padding-right: 44px;
    }

    &::placeholder {
      color: $text-secondary;
    }

    &:hover {
      outline: 1px solid $border-secondary;
    }

    &:focus {
      outline: 1px solid $border-secondary;
    }
  }

  &__container {
    position: relative;
  }

  &__icon {
    position: absolute;
    top: 12px;

    &-left {
      left: 20px;
    }

    &-right {
      right: 20px;
    }
  }
}
